<div class="row">
    <div class="col-xl-6">
        <sb-card
            ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-area"]'></fa-icon>ENTRADAS</div>
            <div class="card-body"><sb-charts-bar [questionTitle]="'ENTRADAS'" questionId="1" [color]="'rgba(102,250,131,1)'"></sb-charts-bar></div></sb-card>
    </div>
    <div class="col-xl-6">
        <sb-card>
            <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>1ER PLATO</div>
            <div class="card-body"><sb-charts-bar [questionTitle]="'1ER PLATO'" questionId="2" [color]="'rgba(250,102,102,1)'"></sb-charts-bar></div>
        </sb-card>
    </div>
    <div class="col-xl-6">
        <sb-card>
            <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>PLATO PRINCIPAL</div>
            <div class="card-body"><sb-charts-bar [questionTitle]="'PLATO PRINCIPAL'" questionId="3" [color]="'rgba(102,167,250,1)'"></sb-charts-bar></div>
        </sb-card>
    </div>  
    <div class="col-xl-6">
        <sb-card>
            <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>POSTRES</div>
            <div class="card-body"><sb-charts-bar [questionTitle]="'POSTRES'" questionId="4" [color]="'rgba(2,80,216,1)'"></sb-charts-bar></div>
        </sb-card>
    </div>       
</div>
