<sb-layout-dashboard-regular>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <section *ngIf="section == 1">
              <div class="row">
                <div  class="col-lg-12 bg-1">
                  <div class="row l1">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                      <img  src="assets/img/Valores-corporativos-menu_24.jpg">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                      <img src="assets/img/Valores-corporativos-menu_103.jpg">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 mt-4 text-center">
                      <button class="btn btn-yellow" (click)="nextSection()">Iniciar</button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section *ngIf="section == 2">
              <div class="row">
                <div class="col-lg-12 bg-2">
                  <div class="row l2">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                      <img src="assets/img/Valores-corporativos-menu_27.jpg">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 mt-4 text-center">
                      <button class="btn btn-yellow" (click)="nextSection()">Siquiente</button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section *ngIf="section == 3">
              <div class="row">
                <div class="col-lg-12 bg-3">
                  <div class="row l3">
                    <div class="col-lg-12 text-center">
                      <img style="width:50%" src="assets/img/Valores-corporativos-menu_08.jpg">
                    </div>
                    <div class="col-lg-12 text-center mt-5">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="div-label" *ngFor="let option of questions[0].options"> 
                            <mat-label></mat-label>
                            <div class="form-group">
                              <label style="display: flex;">
                                <input type="checkbox" [(ngModel)]="option.selected" [disabled]="option.disabled" (change)="onCahngeQ1($event)" [value]="option.label">
                                <div class="text-left"><span>{{option.label}}</span></div>                
                                
                              </label>
                            </div>
                          </div>

                        </div>
                        <div class="col-lg-12 mt-4 text-center">
                          <button class="btn btn-yellow" (click)="validateQ1()">Siquiente</button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section *ngIf="section == 4">
              <div class="row">
                <div class="col-lg-12 bg-4">
                  <div class="row l4">
                    <div class="col-lg-12 text-center">
                      <img style="width:60%" src="assets/img/Valores-corporativos-menu_11.jpg">
                    </div>
                    <div class="col-lg-12 text-center mt-5">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="div-label" *ngFor="let option of questions[1].options">
                            <mat-label></mat-label>
                            <div class="form-group" class="col-md-12">
                              <label style="display: flex;">
                                <input type="checkbox" [(ngModel)]="option.selected" [disabled]="option.disabled" (change)="onCahngeQ2($event)" [value]="option.label">
                                <div class="text-left"><span>{{option.label}}</span></div> 
                              </label>
                            </div>
                          </div>

                        </div>
                        <div class="col-lg-12 mt-4 text-center">
                          <button class="btn btn-yellow" (click)="validateQ2()">Siquiente</button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section *ngIf="section == 5">
              <div class="row">
                <div class="col-lg-12 bg-5">
                  <div class="row l5">
                    <div class="col-lg-12 text-center">
                      <img style="width:50%" src="assets/img/Valores-corporativos-menu_14.jpg">
                    </div>
                    <div class="col-lg-12 text-center mt-5">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="div-label" *ngFor="let option of questions[2].options">
                            <mat-label></mat-label>
                            <div class="form-group" class="col-md-12">
                              <label style="display: flex;">
                                <input type="checkbox" [(ngModel)]="option.selected" [disabled]="option.disabled" (change)="onCahngeQ3($event)" [value]="option.label">
                                <div class="text-left"><span>{{option.label}}</span></div> 
                              </label>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="col-lg-12 mt-4 text-center">
                        <button class="btn btn-yellow" (click)="validateQ3()">Siquiente</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section *ngIf="section == 6">
              <div class="row">
                <div class="col-lg-12 bg-6">
                  <div class="row l6">
                    <div class="col-lg-12 text-center">
                      <img style="width:50%" src="assets/img/Valores-corporativos-menu_17.jpg">
                    </div>
                    <div class="col-lg-12 text-center mt-5">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="div-label" *ngFor="let option of questions[3].options">
                            <mat-label></mat-label>
                            <div class="form-group" class="col-md-12">
                              <label style="display: flex;">
                                <input type="checkbox" [(ngModel)]="option.selected" [disabled]="option.disabled" (change)="onCahngeQ4($event)" [value]="option.label">
                                <div class="text-left"><span>{{option.label}}</span></div> 
                              </label>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="col-lg-12 mt-4 text-center">
                        <button class="btn btn-yellow" (click)="validateQ4()">Finalizar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section *ngIf="section == 7">
              <div class="row">
                <div class="col-lg-12 bg-7">
                  <div class="row l7">

                    <div class="col-lg-12 text-center mt-5">
                      <div class="row">
                        <div class="col-lg-12">
                          <p>
                            Su orden está siendo procesar
                          </p>
                          <p>
                            gracias por ser parte de este equipo.
                          </p>                         

                        </div>
                        <div class="col-lg-12 mt-5">
                          <p>
                            ¡Avanzamos contigo!
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

      </div>
    </div>
  </div>
</sb-layout-dashboard-regular>