.bg-1{
    background-image: url('../../../../assets/img/1350-por-600.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    display: inline-flex;
    align-items: center;
}

.bg-2{
    background-image: url('../../../../assets/img/Fondos-Menu-Valores-Corporativos_02.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1920px;
    display: inline-flex;
    align-items: center;
}

.bg-3{
    background-image: url('../../../../assets/img/Fondos-Menu-Valores-Corporativos_03.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1920px;
    display: inline-flex;
    align-items: center;
}

.bg-4{
    background-image: url('../../../../assets/img/Fondos-Menu-Valores-Corporativos_04.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1920px;
    display: inline-flex;
    align-items: center;
}

.bg-5{
    background-image: url('../../../../assets/img/Fondos-Menu-Valores-Corporativos_05.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1920px;
    display: inline-flex;
    align-items: center;
}

.bg-6{
    background-image: url('../../../../assets/img/Fondos-Menu-Valores-Corporativos_06.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1920px;
    display: inline-flex;
    align-items: center;
}
